%  SAM: hmmscore v3.5 (July 15, 2005) compiled 12/05/20_11:48:21
%  (c) 1992-2001 Regents of the University of California, Santa Cruz
%
%          Sequence Alignment and Modeling Software System
%         http://www.cse.ucsc.edu/research/compbio/sam.html
%
% ----------------- Citations (SAM, SAM-T2K, HMMs) --------------------
% R. Hughey, A. Krogh, Hidden Markov models for sequence analysis:
%  Extension and analysis of the basic method, CABIOS 12:95-107, 1996.
% K. Karplus, et al., What is the value added by human intervention in protein
%  structure prediction, Proteins: Stucture, Function, Genetics 45(S5):86--91, 2001.
% A. Krogh et al., Hidden Markov models in computational biology:
%  Applications to protein modeling, JMB 235:1501-1531, Feb 1994.
% ---------------------------------------------------------------------
%  /data/GitHub/sfFinder/example/mapping/output.1.TEST1.N1155.mod   Host: gauntlet    Wed Feb 17 17:04:19 2021
%  dgpinheiro                                                       Dir:  /data/GitHub/sfFinder/example/output/subfamily/TEST1
% ---------------------------------------------------------------------
% Inserted Files:  ./hmms/TEST1.N1155.mod
% Database Files:  /data/GitHub/sfFinder/example/TEST.fa
%
% Sequence-model (global) (SW = 0)
% Single Track Model:  TEST1.N1155.mod
% Score DP Method: forward all-paths (dpstyle = 0)
% Align DP Method: viterbi (adpstyle = 1)
% 44 sequences, 21955 residues, 501 nodes, 0.34 seconds
%
% Sequence scores selected:  All  (select_score=8)
%
% Simple: NLL-NULL using FIM probabilities
% Reverse: NLL-NULL for the reverse sequence NULL model
%    Calculated when Simple < simple_threshold (10000.00)
% E-value on N (=44) sequences:
%    N / (1 + exp(-(lambda(=0.3936) * Reverse)^tau(=0.8785)))
%    Calculated when Simple < simple_threshold (10000.00)
%    Rescale E-values or use -dbsize for multiple scoring runs.
% Scores sorted by E-value, best first
%
% Sequence ID           Length      Simple     Reverse     E-value      X count
UniRef100_Q2JGJ2          531      -730.72     -772.71     4.94e-65
UniRef100_A5ECB8          494      -583.43     -627.19     5.48e-54
UniRef100_P95408          500      -520.58     -567.36     2.33e-49
UniRef100_Q46PB0          501      -506.72     -560.45     8.05e-49
UniRef100_Q51939          501      -504.32     -554.43     2.37e-48
UniRef100_O87798          498      -508.27     -554.31     2.43e-48
UniRef100_Q9EZP0          501      -503.83     -553.94     2.60e-48
UniRef100_Q00456          500      -476.30     -524.46     5.29e-46
UniRef100_O07068          501      -471.36     -523.53     6.26e-46
UniRef100_O87082          497      -463.52     -520.27     1.13e-45
UniRef100_A0A0D8HMT3      507      -457.21     -509.59     7.84e-45
UniRef100_A0A3T0WA74      504      -455.38     -498.21     6.21e-44
UniRef100_O84961          504      -452.97     -496.80     8.02e-44
UniRef100_Q2QK82          499      -448.43     -490.97     2.32e-43
UniRef100_Q470W6          530      -444.47     -489.39     3.10e-43
UniRef100_A0A132HMK5      515      -446.95     -488.79     3.46e-43
UniRef100_Q5KT19          530      -442.09     -485.42     6.40e-43
UniRef100_Q43981          511      -444.48     -480.78     1.49e-42
UniRef100_A2SI49          527      -433.75     -478.27     2.36e-42
UniRef100_Q68J59          517      -437.38     -477.34     2.80e-42
UniRef100_A0A1D7ZDH2      519      -430.86     -477.28     2.83e-42
UniRef100_Q390N7          516      -429.84     -477.14     2.91e-42
UniRef100_Q52164          516      -436.50     -475.95     3.61e-42
UniRef100_Q9ANX2          519      -432.09     -475.87     3.67e-42
UniRef100_Q8VSV8          519      -431.65     -475.66     3.81e-42
UniRef100_A2SL20          537      -424.20     -475.35     4.04e-42
UniRef100_Q8KRY8          508      -439.76     -475.33     4.05e-42
UniRef100_P19732          517      -436.07     -474.56     4.66e-42
UniRef100_Q52173          516      -435.40     -473.51     5.65e-42
UniRef100_Q7WTJ4          508      -441.72     -473.03     6.17e-42
UniRef100_Q8VUT9          515      -423.12     -469.79     1.12e-41
UniRef100_Q9ZNP4          536      -425.19     -469.78     1.12e-41
UniRef100_C1DMU4          511      -423.94     -468.53     1.41e-41
UniRef100_Q3HW54          519      -422.50     -468.17     1.50e-41
UniRef100_Q9S147          540      -421.89     -467.90     1.58e-41
UniRef100_Q46PA6          514      -422.88     -460.93     5.69e-41
UniRef100_Q479F8          517      -420.57     -460.69     5.95e-41
UniRef100_Q9EZP3          514      -418.81     -458.67     8.62e-41
UniRef100_Q52572          513      -417.52     -458.28     9.25e-41
UniRef100_Q842G3          506      -417.48     -458.20     9.39e-41
UniRef100_Q7WYF1          506      -413.82     -455.20     1.63e-40
UniRef100_C1DN71          505      -407.54     -449.06     5.06e-40
UniRef100_O87799           86       264.24       -0.02     2.19e+01
UniRef100_O87802          330        91.32       10.31     4.26e+01
