%  SAM: hmmscore v3.5 (July 15, 2005) compiled 12/05/20_11:48:21
%  (c) 1992-2001 Regents of the University of California, Santa Cruz
%
%          Sequence Alignment and Modeling Software System
%         http://www.cse.ucsc.edu/research/compbio/sam.html
%
% ----------------- Citations (SAM, SAM-T2K, HMMs) --------------------
% R. Hughey, A. Krogh, Hidden Markov models for sequence analysis:
%  Extension and analysis of the basic method, CABIOS 12:95-107, 1996.
% K. Karplus, et al., What is the value added by human intervention in protein
%  structure prediction, Proteins: Stucture, Function, Genetics 45(S5):86--91, 2001.
% A. Krogh et al., Hidden Markov models in computational biology:
%  Applications to protein modeling, JMB 235:1501-1531, Feb 1994.
% ---------------------------------------------------------------------
%  /data/GitHub/sfFinder/example/mapping/output.1.TEST2.N1119.mod   Host: gauntlet    Wed Feb 17 17:04:15 2021
%  dgpinheiro                                                       Dir:  /data/GitHub/sfFinder/example/output/subfamily/TEST2
% ---------------------------------------------------------------------
% Inserted Files:  ./hmms/TEST2.N1119.mod
% Database Files:  /data/GitHub/sfFinder/example/TEST.fa
%
% Sequence-model (global) (SW = 0)
% Single Track Model:  TEST2.N1119.mod
% Score DP Method: forward all-paths (dpstyle = 0)
% Align DP Method: viterbi (adpstyle = 1)
% 44 sequences, 21955 residues, 531 nodes, 0.42 seconds
%
% Sequence scores selected:  All  (select_score=8)
%
% Simple: NLL-NULL using FIM probabilities
% Reverse: NLL-NULL for the reverse sequence NULL model
%    Calculated when Simple < simple_threshold (10000.00)
% E-value on N (=44) sequences:
%    N / (1 + exp(-(lambda(=0.3987) * Reverse)^tau(=0.8266)))
%    Calculated when Simple < simple_threshold (10000.00)
%    Rescale E-values or use -dbsize for multiple scoring runs.
% Scores sorted by E-value, best first
%
% Sequence ID           Length      Simple     Reverse     E-value      X count
UniRef100_Q51939          501      -785.10     -831.66     1.01e-51
UniRef100_Q9EZP0          501      -785.04     -831.10     1.08e-51
UniRef100_Q46PB0          501      -781.23     -829.70     1.28e-51
UniRef100_P95408          500      -766.02     -812.46     1.02e-50
UniRef100_O87798          498      -738.51     -785.19     2.80e-49
UniRef100_O07068          501      -723.16     -772.95     1.25e-48
UniRef100_Q00456          500      -726.13     -768.86     2.05e-48
UniRef100_Q2JGJ2          531      -610.24     -658.82     1.68e-42
UniRef100_A5ECB8          494      -579.73     -630.08     6.26e-41
UniRef100_A0A0D8HMT3      507      -494.42     -545.37     3.20e-36
UniRef100_O87082          497      -479.31     -530.01     2.35e-35
UniRef100_A0A132HMK5      515      -223.93     -277.14     2.63e-20
UniRef100_Q842G3          506      -220.98     -271.97     5.60e-20
UniRef100_Q470W6          530      -220.31     -269.77     7.72e-20
UniRef100_Q7WYF1          506      -218.07     -269.14     8.47e-20
UniRef100_Q5KT19          530      -218.39     -267.54     1.07e-19
UniRef100_C1DN71          505      -213.81     -267.32     1.11e-19
UniRef100_Q43981          511      -216.44     -267.21     1.12e-19
UniRef100_Q8KRY8          508      -212.14     -264.71     1.62e-19
UniRef100_Q7WTJ4          508      -214.41     -263.97     1.81e-19
UniRef100_Q2QK82          499      -205.40     -263.55     1.92e-19
UniRef100_Q8VSV8          519      -212.59     -261.28     2.69e-19
UniRef100_Q9ANX2          519      -212.71     -261.27     2.69e-19
UniRef100_A0A3T0WA74      504      -209.47     -260.50     3.01e-19
UniRef100_O84961          504      -213.07     -259.59     3.45e-19
UniRef100_A0A1D7ZDH2      519      -210.86     -258.78     3.88e-19
UniRef100_A2SI49          527      -209.77     -256.61     5.35e-19
UniRef100_Q3HW54          519      -208.71     -256.51     5.43e-19
UniRef100_Q52164          516      -202.66     -253.74     8.18e-19
UniRef100_Q68J59          517      -200.30     -251.00     1.23e-18
UniRef100_A2SL20          537      -200.46     -250.26     1.37e-18
UniRef100_P19732          517      -198.36     -249.52     1.53e-18
UniRef100_Q479F8          517      -200.41     -249.44     1.55e-18
UniRef100_Q390N7          516      -202.78     -249.04     1.64e-18
UniRef100_Q52173          516      -199.47     -248.54     1.77e-18
UniRef100_Q46PA6          514      -203.12     -245.57     2.75e-18
UniRef100_Q9S147          540      -196.41     -244.07     3.44e-18
UniRef100_C1DMU4          511      -193.80     -242.20     4.54e-18
UniRef100_Q9EZP3          514      -196.67     -242.20     4.55e-18
UniRef100_Q9ZNP4          536      -195.14     -241.59     4.98e-18
UniRef100_Q52572          513      -199.09     -240.98     5.45e-18
UniRef100_Q8VUT9          515      -198.32     -237.22     9.57e-18
UniRef100_O87799           86       280.76        0.94     2.68e+01
UniRef100_O87802          330        96.83        5.02     3.76e+01
