%  SAM: hmmscore v3.5 (July 15, 2005) compiled 12/05/20_11:48:21
%  (c) 1992-2001 Regents of the University of California, Santa Cruz
%
%          Sequence Alignment and Modeling Software System
%         http://www.cse.ucsc.edu/research/compbio/sam.html
%
% ----------------- Citations (SAM, SAM-T2K, HMMs) --------------------
% R. Hughey, A. Krogh, Hidden Markov models for sequence analysis:
%  Extension and analysis of the basic method, CABIOS 12:95-107, 1996.
% K. Karplus, et al., What is the value added by human intervention in protein
%  structure prediction, Proteins: Stucture, Function, Genetics 45(S5):86--91, 2001.
% A. Krogh et al., Hidden Markov models in computational biology:
%  Applications to protein modeling, JMB 235:1501-1531, Feb 1994.
% ---------------------------------------------------------------------
%  /data/GitHub/sfFinder/example/mapping/output.1.TEST1.N1128.mod   Host: gauntlet    Wed Feb 17 17:04:17 2021
%  dgpinheiro                                                       Dir:  /data/GitHub/sfFinder/example/output/subfamily/TEST1
% ---------------------------------------------------------------------
% Inserted Files:  ./hmms/TEST1.N1128.mod
% Database Files:  /data/GitHub/sfFinder/example/TEST.fa
%
% Sequence-model (global) (SW = 0)
% Single Track Model:  TEST1.N1128.mod
% Score DP Method: forward all-paths (dpstyle = 0)
% Align DP Method: viterbi (adpstyle = 1)
% 44 sequences, 21955 residues, 501 nodes, 0.39 seconds
%
% Sequence scores selected:  All  (select_score=8)
%
% Simple: NLL-NULL using FIM probabilities
% Reverse: NLL-NULL for the reverse sequence NULL model
%    Calculated when Simple < simple_threshold (10000.00)
% E-value on N (=44) sequences:
%    N / (1 + exp(-(lambda(=0.3403) * Reverse)^tau(=0.9007)))
%    Calculated when Simple < simple_threshold (10000.00)
%    Rescale E-values or use -dbsize for multiple scoring runs.
% Scores sorted by E-value, best first
%
% Sequence ID           Length      Simple     Reverse     E-value      X count
UniRef100_O84961          504      -705.25     -779.04     3.25e-65
UniRef100_A0A3T0WA74      504      -705.43     -776.53     5.06e-65
UniRef100_A0A132HMK5      515      -702.12     -771.83     1.16e-64
UniRef100_Q9ANX2          519      -694.23     -769.85     1.64e-64
UniRef100_A0A1D7ZDH2      519      -692.29     -769.21     1.84e-64
UniRef100_Q8VSV8          519      -693.43     -769.15     1.86e-64
UniRef100_Q470W6          530      -698.79     -766.22     3.11e-64
UniRef100_Q5KT19          530      -694.56     -763.54     4.99e-64
UniRef100_Q390N7          516      -683.79     -762.30     6.22e-64
UniRef100_Q9S147          540      -682.51     -756.88     1.62e-63
UniRef100_Q46PA6          514      -678.79     -756.49     1.73e-63
UniRef100_Q9ZNP4          536      -684.16     -756.43     1.75e-63
UniRef100_Q3HW54          519      -680.15     -755.72     1.98e-63
UniRef100_Q2QK82          499      -683.34     -754.62     2.41e-63
UniRef100_Q8VUT9          515      -672.20     -751.10     4.49e-63
UniRef100_Q68J59          517      -677.29     -745.40     1.23e-62
UniRef100_Q52572          513      -666.74     -744.25     1.51e-62
UniRef100_Q43981          511      -675.26     -743.56     1.70e-62
UniRef100_Q9EZP3          514      -670.15     -742.82     1.94e-62
UniRef100_P19732          517      -673.04     -742.12     2.20e-62
UniRef100_Q8KRY8          508      -671.17     -741.17     2.60e-62
UniRef100_Q52164          516      -673.32     -739.11     3.74e-62
UniRef100_Q52173          516      -674.45     -739.05     3.78e-62
UniRef100_Q7WTJ4          508      -671.65     -738.78     3.96e-62
UniRef100_Q479F8          517      -668.95     -736.20     6.27e-62
UniRef100_A2SI49          527      -664.02     -733.73     9.71e-62
UniRef100_C1DMU4          511      -641.19     -718.17     1.53e-60
UniRef100_A2SL20          537      -622.84     -692.58     1.45e-58
UniRef100_Q842G3          506      -621.38     -685.56     5.06e-58
UniRef100_Q7WYF1          506      -616.85     -680.29     1.30e-57
UniRef100_C1DN71          505      -612.59     -678.27     1.86e-57
UniRef100_A5ECB8          494      -305.91     -376.95     1.79e-33
UniRef100_P95408          500      -288.41     -373.30     3.57e-33
UniRef100_O87798          498      -283.41     -362.89     2.57e-32
UniRef100_Q2JGJ2          531      -280.13     -355.00     1.15e-31
UniRef100_Q00456          500      -275.11     -354.35     1.30e-31
UniRef100_Q46PB0          501      -276.53     -353.90     1.42e-31
UniRef100_O87082          497      -269.47     -351.18     2.38e-31
UniRef100_Q9EZP0          501      -276.58     -351.03     2.45e-31
UniRef100_Q51939          501      -275.35     -349.98     2.99e-31
UniRef100_A0A0D8HMT3      507      -258.79     -335.63     4.64e-30
UniRef100_O07068          501      -248.26     -332.70     8.14e-30
UniRef100_O87802          330       103.70       -2.66     1.26e+01
UniRef100_O87799           86       267.95        2.01     2.95e+01
