%  SAM: hmmscore v3.5 (July 15, 2005) compiled 12/05/20_11:48:21
%  (c) 1992-2001 Regents of the University of California, Santa Cruz
%
%          Sequence Alignment and Modeling Software System
%         http://www.cse.ucsc.edu/research/compbio/sam.html
%
% ----------------- Citations (SAM, SAM-T2K, HMMs) --------------------
% R. Hughey, A. Krogh, Hidden Markov models for sequence analysis:
%  Extension and analysis of the basic method, CABIOS 12:95-107, 1996.
% K. Karplus, et al., What is the value added by human intervention in protein
%  structure prediction, Proteins: Stucture, Function, Genetics 45(S5):86--91, 2001.
% A. Krogh et al., Hidden Markov models in computational biology:
%  Applications to protein modeling, JMB 235:1501-1531, Feb 1994.
% ---------------------------------------------------------------------
%  /data/GitHub/sfFinder/example/mapping/output.1.TEST2.N1141.mod   Host: gauntlet    Wed Feb 17 17:04:17 2021
%  dgpinheiro                                                       Dir:  /data/GitHub/sfFinder/example/output/subfamily/TEST2
% ---------------------------------------------------------------------
% Inserted Files:  ./hmms/TEST2.N1141.mod
% Database Files:  /data/GitHub/sfFinder/example/TEST.fa
%
% Sequence-model (global) (SW = 0)
% Single Track Model:  TEST2.N1141.mod
% Score DP Method: forward all-paths (dpstyle = 0)
% Align DP Method: viterbi (adpstyle = 1)
% 44 sequences, 21955 residues, 531 nodes, 0.42 seconds
%
% Sequence scores selected:  All  (select_score=8)
%
% Simple: NLL-NULL using FIM probabilities
% Reverse: NLL-NULL for the reverse sequence NULL model
%    Calculated when Simple < simple_threshold (10000.00)
% E-value on N (=44) sequences:
%    N / (1 + exp(-(lambda(=0.4395) * Reverse)^tau(=0.8226)))
%    Calculated when Simple < simple_threshold (10000.00)
%    Rescale E-values or use -dbsize for multiple scoring runs.
% Scores sorted by E-value, best first
%
% Sequence ID           Length      Simple     Reverse     E-value      X count
UniRef100_A5ECB8          494      -788.55     -817.20     5.07e-54
UniRef100_Q2JGJ2          531      -617.52     -651.88     1.06e-44
UniRef100_P95408          500      -488.06     -521.45     4.78e-37
UniRef100_O87798          498      -476.04     -512.58     1.63e-36
UniRef100_Q51939          501      -470.68     -508.19     2.99e-36
UniRef100_Q46PB0          501      -470.34     -507.30     3.38e-36
UniRef100_Q9EZP0          501      -469.65     -506.66     3.69e-36
UniRef100_Q00456          500      -460.25     -494.79     1.92e-35
UniRef100_O07068          501      -440.42     -479.19     1.70e-34
UniRef100_O87082          497      -418.89     -458.96     2.91e-33
UniRef100_A0A0D8HMT3      507      -405.64     -443.94     2.44e-32
UniRef100_A0A132HMK5      515      -252.03     -289.13     1.87e-22
UniRef100_A0A3T0WA74      504      -243.88     -284.51     3.80e-22
UniRef100_O84961          504      -242.97     -283.09     4.73e-22
UniRef100_Q470W6          530      -246.56     -281.81     5.76e-22
UniRef100_Q5KT19          530      -245.74     -281.10     6.42e-22
UniRef100_Q2QK82          499      -237.71     -278.87     9.05e-22
UniRef100_Q8KRY8          508      -244.33     -277.82     1.06e-21
UniRef100_Q43981          511      -243.22     -274.82     1.69e-21
UniRef100_Q52164          516      -236.52     -274.03     1.91e-21
UniRef100_Q68J59          517      -236.08     -273.31     2.14e-21
UniRef100_Q7WTJ4          508      -242.29     -272.66     2.36e-21
UniRef100_Q842G3          506      -235.11     -272.49     2.43e-21
UniRef100_C1DN71          505      -232.39     -271.93     2.65e-21
UniRef100_P19732          517      -236.27     -271.90     2.66e-21
UniRef100_Q479F8          517      -230.68     -271.62     2.77e-21
UniRef100_Q52173          516      -234.68     -271.31     2.91e-21
UniRef100_Q7WYF1          506      -231.80     -268.65     4.40e-21
UniRef100_C1DMU4          511      -227.45     -267.28     5.43e-21
UniRef100_Q9S147          540      -224.68     -264.58     8.28e-21
UniRef100_A2SL20          537      -225.72     -263.93     9.15e-21
UniRef100_A2SI49          527      -227.55     -262.74     1.10e-20
UniRef100_Q9ZNP4          536      -224.72     -262.46     1.15e-20
UniRef100_Q9ANX2          519      -227.41     -262.39     1.16e-20
UniRef100_Q8VSV8          519      -227.09     -262.14     1.21e-20
UniRef100_A0A1D7ZDH2      519      -225.62     -261.81     1.27e-20
UniRef100_Q390N7          516      -226.60     -261.55     1.33e-20
UniRef100_Q46PA6          514      -230.48     -261.34     1.37e-20
UniRef100_Q3HW54          519      -222.53     -257.55     2.48e-20
UniRef100_Q9EZP3          514      -222.24     -256.88     2.75e-20
UniRef100_Q52572          513      -223.36     -255.05     3.66e-20
UniRef100_Q8VUT9          515      -223.02     -253.42     4.72e-20
UniRef100_O87802          330        92.80       -0.77     1.75e+01
UniRef100_O87799           86       281.16        1.51     2.95e+01
